<%- include('../layouts/adminheader') %>
<form action="/admin/category/add-category" method="post">
  <div class="form-group">
    <% if(errors){%> <% if(errors.forEach(function(err){%>
    <div class="alert alert-danger"><%= err.msg %></div>
    <%}))%> <%}%>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" placeholder="Title" />
  </div>

  <div class="form-group">
    <label for="slug">Slug</label>
    <input class="form-control" type="text" name="slug" placeholder="Slug" id="slug"/>
  </div>


  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Submit" />
  </div>
</form>

<%- include('../layouts/adminfooter') %>
